
.contenido{
    margin-top: 200px !important;
    color: rgb(0, 0, 0);
    padding: 30px;
}

.fondo {
    background-image: url("../multi/escuela.jpg");
    width: 800px;
    height: 1400px;
}
.navbar-brand{
    color: blue;
}