
.contenido{
    margin-top: 200px !important;
    color: rgb(0, 0, 0);
    padding: 30px;
}

.fondo {
    background-image: url("../multi/escuela.jpg");
    padding: 50px;
    width: 1900px;
    height: 970px;
}
.navbar-brand{
    color: blue;
}

.titulo{
    background-color: rgb(255, 255, 255);
}

.info{
    background-color: white;
}

