<div>
    {% extends "AppCoder/inicio.html" %}
    {% load static %}
    
        {% block contenidoQueCambia %}
        <div>
            <h2>Estudiantes</h2>
        </div>
        <div>
            <p>info: Admicion abierta para cualquier persona</p>
            <p> Puede inscribir al aestudiante haciendo click en Inscribir estudiante </p> 
            <a href="/AppCoder/setEstudiante">Inscribir estudiante</a>
        </div>
        <div>
            {% block setEstudiante %}
            {% endblock %}
        </div>
        {% endblock %}
</div>