<div>
    {% extends "AppCoder/estudiantes.html"%}
    {% load static %}

    {% block setEstudiante %}
    <div class="info"> 
    <h2>Inscribir Estudiante: </h2>
        <form action="/AppCoder/setEstudiante/"    method="POST"> {% csrf_token %}
            <input placeholder="Nombre" type = "text" name="nombre" required>
            <input placeholder="Apellido" type = "text" name="apellido" required>
            <input placeholder="Email" type = "email" name="email" >
            <input type = "submit" value="Enviar">
        </form>
    </div>
    {% endblock %}
</div>
